---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: quobyte-web
spec:
  selector:
    matchLabels:
      app: quobyte-web # has to match .spec.template.metadata.labels
  serviceName: "quobyte-webui"
  ##replicas: {{ .Values.quobyte.replicas }} # by default is 4 
  replicas: 1 # by default is 4 
  template:
    metadata:
      labels:
        app: quobyte-web # has to match .spec.selector.matchLabels
      annotations:
        timestamp: "{{ now }}"
    spec:
      terminationGracePeriodSeconds: 10
      hostNetwork: true
      dnsPolicy: ClusterFirstWithHostNet
      initContainers:
      - name: quobyte-web-pre 
        image: {{ .Values.quobyte.image }}
        env:
          - name: NODENAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: QUOBYTE_DATA_PORT 
            value: "7863"
          - name: QUOBYTE_META_PORT
            value: "7862"
          - name: QUOBYTE_REG_PORT 
            value: "7861"
          - name: QUOBYTE_API_PORT
            value: "7860" 
          - name: QUOBYTE_SERVICE
            value: api
          - name: CLOUD_INSTALL
            value: "1" 
          - name: CLUSTER_NS
            value: {{ .Release.Namespace }}
          - name: LIMIT_OPEN_FILES
            value: "{{ .Values.quobyte.maxopenfiles }}"
          - name: LIMIT_MAX_PROCESSES
            value: "{{ .Values.quobyte.maxprocs }}"
        volumeMounts:
          - name: config-web
            mountPath: /etc/quobyte
        command:
              - /bin/sh 
              - -xc
              - |
                touch /etc/quobyte/$QUOBYTE_SERVICE.cfg
                echo test.device_dir=/var/lib/quobyte/devices >> /etc/quobyte/webconsole.cfg
                echo rpc.bind.address=${MY_POD_IP} >> /etc/quobyte/webconsole.cfg
                echo hostname=${HOSTNAME} >> /etc/quobyte/webconsole.cfg
      containers:
      - name: quobyte-web
        image: {{ .Values.quobyte.image }}
        imagePullPolicy: Always
        env:
          - name: NODENAME
            valueFrom:
              fieldRef:
                fieldPath: metadata.name
          - name: MY_POD_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: HOST_IP
            valueFrom:
              fieldRef:
                fieldPath: status.podIP
          - name: QUOBYTE_DATA_PORT 
            value: "7863"
          - name: QUOBYTE_META_PORT
            value: "7862"
          - name: QUOBYTE_REG_PORT 
            value: "7861"
          - name: QUOBYTE_API_PORT
            value: "7860" 
          - name: QUOBYTE_SERVICE
            value: webconsole
          - name: QUOBYTE_WEBCONSOLE_PORT
            value: "{{ .Values.quobyte.webconsoleport }}"
          - name: CLOUD_INSTALL
            value: "1" 
          - name: QUOBYTE_REGISTRY
            value: _quobyte._tcp.quobyte.{{ .Release.Namespace }}.svc.cluster.local
          - name: CLUSTER_NS
            value: {{ .Release.Namespace }}
          - name: LIMIT_OPEN_FILES
            value: "{{ .Values.quobyte.maxopenfiles }}"
          - name: LIMIT_MAX_PROCESSES
            value: "{{ .Values.quobyte.maxprocs }}"
        ports:
        - containerPort: 8080
          name: quobyte-web
        volumeMounts:
          - name: config-web
            mountPath: /etc/quobyte
      nodeSelector:
           cloud.google.com/gke-nodepool: {{ .Values.nodepoolname }}
      affinity:
        podAntiAffinity:
            requiredDuringSchedulingIgnoredDuringExecution:
            - labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - quobyte
              topologyKey: "kubernetes.io/hostname"
  volumeClaimTemplates:
  - metadata:
      name: config-web
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: "standard"
      resources:
        requests:
          storage: 10Gi

